Source: strata
Maintainer: Connor Winning <connoredwinwinning2367@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 4.7.3.0
Section: utils

Package: strata 
Priority: extra  
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}  
Description: a simple helloworld package
 Just prints "Hi", it's very useful.